<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/png" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
  <style>
    .bg-primary, .btn-primary {
      background-color: #3f51b5 !important;
    }
    .text-primary {
      color: #3f51b5 !important;
    } 
    body {
      background-position: center center;
    }
    a.card {
      text-decoration: none;
    }
    body {
      margin: 0;
      padding: 0;
      position: relative;
      top: 0;
      height: 100vh;
    }
    .navbar {
      background-image: linear-gradient(45deg, #3f51b5, #061161) !important;
      background-repeat: repeat-x;
    }
    .sidenav-toggle-button, .sidenav-toggle-button:hover {
      background-color: transparent;
    }
    .sidenav a {
      line-height: 2rem;
      background-color: transparent;
    }
    .sidenav a:hover {
      text-decoration: none;
      background-color: rgba(200, 200, 200, 0.2);
    }
    .sidenav a .fa, .nav .fa {
      font-size: 18px;
      float: left;
      margin-right: 10px;
      line-height: 2rem;
      width: 30px;
      text-align: center;
    }
    .nav-link.dropdown-toggle {
      outline: none;
      background: transparent;
      border: none;
    }
    #nav-dropdown::after {
      top: 0.255em;
      position: relative;
    }
  </style>
  <title><%= appname %></title>
</head>
<body>
  <aside class="sidenav text-white">
    <div class="sidenav-content">

    <div class="d-flex align-items-center justify-content-between my-2 mb-1 p-2 pb-3">
      <div class="d-flex align-items-center">
        <div>
          <img src='<%= user.photo %>' class="user-img-circle" />
        </div>
        <div class="ml-2">
          <span class="font-weight-light">Welcome, </span><br>
          <p class="title mb-0 pb-0"><%= user.username  %></p>
        </div>
      </div>
      <div class="sidenav-toggle">
        <button class="btn btn-dark text-light sidenav-toggle-button"><span class="navbar-toggler-icon"><i class="fa fa-times" aria-hidden="true"></i></span></button>
      </div>
    </div>

    <ul class="list-group text-white">
      <a href="/" class="list-group-item text-white mb-1">
        <i class="fa fa-dashboard" aria-hidden="true"></i> 
        <span>Dashboard</span>
      </a>
      <a href="/courses" class="list-group-item text-white mb-1">
        <i class="fa fa-book" aria-hidden="true"></i> <span>Courses</span>
      </a>
      <a href="/departments" class="list-group-item text-white mb-1">
        <i class="fa fa-building-o" aria-hidden="true"></i> <span>Departments</span>
      </a>
      <a href="/programmes-of-study" class="list-group-item text-white mb-1">
        <i class="fa fa-bullhorn" aria-hidden="true"></i> <span>Programmes</span>
      </a>
      <a href="/results" class="list-group-item text-white mb-1">
        <i class="fa fa-address-book-o" aria-hidden="true"></i> <span>Results</span>
      </a>
      <a href="/students" class="list-group-item text-white mb-1">
        <i class="fa fa-id-card-o" aria-hidden="true"></i> <span>Students</span>
      </a>
      <a href="/users" class="list-group-item text-white mb-1">
        <i class="fa fa-users" aria-hidden="true"></i> <span>Users</span>
      </a>
      <a href="/logout" class="list-group-item text-white mb-1">
        <i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span>
      </a>
    </ul>
    </div>
  </aside>

  <main>
    <nav class="navbar navbar-expand-sm bg-primary text-white py-0 d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center py-2">
        <% /* %>
        <a href="/dashboard">
          <img class="logo mr-3" src="/images/logo.jpg" alt="logo">
        </a>
        <% */ %>
        <h4 class="font-weight-normal app-title d-none d-md-block py-1"><%= appname %>
        </h4>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <ul class="nav justify-content-end">
          <li class="nav-item d-flex">
            <button class="nav-link bg-transparent text-white dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o mr-0" aria-hidden="true"></i> </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-dropdown">
              <a class="dropdown-item" href='/users/profile/<%= user.serial_number %>'>Profile</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#change-password-modal">Change Password</a>
              <a class="dropdown-item" href='/logout'>Logout</a>
            </div>
          </li>  
        </ul>
        <div class="sidenav-toggle">
          <button class="btn btn-dark text-light sidenav-toggle-button"><span class="navbar-toggler-icon"><i class="fa fa-list" aria-hidden="true"></i></span></button>
        </div>
      </div>
      
    </nav>

    <div class="container-fluid">
      
      <!-- Modal -->
      <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="change-password-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <form action="/users/reset-password" method="post">
                      <div class="form-group">
                        <div class="col-md-12">
                          <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12">
                          <input type="password" class="form-control" name="newPassword" placeholder="New Password" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12">
                          <input type="password" class="form-control" name="newPassword2" placeholder="Retype New Password" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-primary btn-block btn-raised">Proceed</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>